<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maildrop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/forms.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='resources/favicon.ico') }}">
    <meta name="title" content="Maildrop" />
    <meta name="description" content="maildrop is a free disposable email service." />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Maildrop" />
    <meta property="og:description" content="maildrop is a free disposable email service." />
    <meta property="og:image" content="/static/resources/app.png" />
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>
                <img src="{{ url_for('static', filename='resources/mail-icon.svg') }}" alt="Mail Icon">
                maildrop
            </h1>
            <p>A simple self hostable email inbox.</p>
        </header>
        <section class="email-panel">
            <div class="email-compose">
                <input type="text" id="email-name" placeholder="username" spellcheck="false">
                <select id="domain-select" class="domain-select" title="Choose domain">
                </select>
            </div>
            <div class="action-buttons">
                <button id="random-btn" class="btn btn-primary">
                    <img src="{{ url_for('static', filename='resources/random-icon.svg') }}" alt="Random Icon">
                    <span class="button-text">Random Name</span>
                </button>
                <button id="copy-btn" class="btn btn-secondary">
                    <img src="{{ url_for('static', filename='resources/copy-icon.svg') }}" alt="Copy Icon">
                    <span class="button-text">Copy Email</span>
                </button>
                <button id="refresh-btn" class="btn btn-secondary" title="Refresh Inbox">
                    <img src="{{ url_for('static', filename='resources/refresh-icon.svg') }}" alt="Refresh Icon">
                    <span class="button-text">Refresh</span>
                </button>
            </div>
        </section>

        <main class="inbox-section">
            <div class="inbox-header">
                <h2>Your Inbox</h2>
            </div>
            <ul id="inbox-list"></ul>
            <div id="inbox-placeholder">
                <p>Your emails will appear here. Refresh to check for new mail.</p>
            </div>
        </main>
    </div>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/api.js') }}"></script>
</body>
</html>