/* the overlay the form will be in */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.2s forwards;
}

/* form container */
.modal-content {
    background: var(--surface-color);
    border: 1px solid var(--border-color);
    border-radius: var(--container-radius);
    width: 90%;
    max-width: 500px;
    padding: 2rem;
}

/* contains the header text */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

/* form header title */
.modal-header h2 {
    margin: 0;
    color: var(--text-color);
}

/* contains the form inputs */
.form-group {
    margin-bottom: 1rem;
}

/* label for form item */
.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-dark-color);
    font-size: 0.9rem;
}

/* form input */
.form-control {
    width: 100%;
    padding: 0.75rem;
    background: var(--input-color);
    border: 1px solid var(--border-color);
    border-radius: var(--content-radius);
    color: var(--text-color);
    font-family: var(--font-family);
    resize: none;
    font-size: 0.9rem;
}

/* make border of inputs primary color when selected */
.form-control:focus {
    outline: 1px solid var(--primary-color);
}

/* send, cancel action buttons  */
.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
}